# Ignore compiled .pyc files
__pycache__

# Ignore installation files
*.egg-info
build
dist

# Jupyter notebooks
.ipynb_checkpoints

# Virtual environments
venv
env

# DS Store
.DS_Store

# Ignore vs code config
.vscode

*.so
